body {
    margin: auto;
}

p, h1, h3 {
    font-family: "Lato", sans-serif;
}

i, b {
    text-align: center;
    margin: 50px;
    display: block;

}

#video-pc{
    display: none;
}

.modelos {
    overflow: hidden;
    position: relative;
}

.modelos-slide {
    display: flex;
    overflow-x: auto;
}

.modelos-slide img {
    width: 95%; 
    margin: auto;
    padding: 10px;
    border-radius: 50px;
}

.Motorsport {
    text-align: justify;
    margin: 10%;
}

.Motorsport img {
    border-radius: 50px;
    width: 100%;
}

.historia p {
  text-align: justify;
  margin: 10%;
}

.historia img{
    width: 80%;
    border-radius: 50px; 
    margin: 10%; 
}

#motorsport-pc{
    display:none;
}

@media screen and (min-width: 1200px){
    
    #video-mobile{
        display: none;
    }

    #video-pc{
        display: block;
    }
    
    p, i, b {
        font-size: 25px;
    }

    header img {
        width: 80px;
    }

    .historia{
        display: flex;
    }

    .historia p{
        width: 50%;
        gap: 10px;
        margin: auto;
    }


    .historia img{
        width: 30%;
        gap: 10px;
        margin: auto;
    }

    .Motorsport{
        display: flex;
        flex-direction: column;
    }

    #motorsport-mobile{
        display: none;
    }

    #motorsport-pc{
        display: block;
    }
}
